In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [2]:
main_dataset = pd.read_csv("newfin.csv")

In [3]:
main_dataset.shape

(1040, 3)

In [4]:
main_dataset.head()

   Rainfall  River  Label
0       6.2   4.95      0
1      54.9   5.43      0
2      16.4   4.57      0
3      56.8   4.50      0
4     167.4   4.28      0

In [5]:
main_dataset.tail()

      Rainfall  River  Label
1035       0.0  0.942      0
1036       0.0  0.878      0
1037       0.0  0.835      0
1038       0.0  1.990      0
1039       0.0  2.070      0

In [6]:
main_dataset.fillna('')

      Rainfall  River  Label
0          6.2  4.950      0
1         54.9  5.430      0
2         16.4  4.570      0
3         56.8  4.500      0
4        167.4  4.280      0
...        ...    ...    ...
1035       0.0  0.942      0
1036       0.0  0.878      0
1037       0.0  0.835      0
1038       0.0  1.990      0
1039       0.0  2.070      0

[1040 rows x 3 columns]

In [7]:
main_dataset.describe()

          Rainfall        River        Label
count  1040.000000  1040.000000  1040.000000
mean    167.326250    14.182862     0.435577
std     186.687956    23.584739     0.496071
min       0.000000     0.835000     0.000000
25%       6.525000     2.810000     0.000000
50%     100.000000     4.640000     0.000000
75%     265.575000    17.725000     1.000000
max    2198.100000   369.000000     1.000000

In [8]:
main_dataset['Label'].value_counts()

0    587
1    453
Name: Label, dtype: int64

In [9]:
X = main_dataset.drop(columns = 'Label', axis = 1)
Y = main_dataset['Label']

In [10]:
print(X)

      Rainfall  River
0          6.2  4.950
1         54.9  5.430
2         16.4  4.570
3         56.8  4.500
4        167.4  4.280
...        ...    ...
1035       0.0  0.942
1036       0.0  0.878
1037       0.0  0.835
1038       0.0  1.990
1039       0.0  2.070

[1040 rows x 2 columns]

In [11]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
1035    0
1036    0
1037    0
1038    0
1039    0
Name: Label, Length: 1040, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 42)

In [13]:
print(X_train.shape, Y_train.shape,X_test.shape,Y_test.shape)

(832, 2) (832,) (208, 2) (208,)

In [14]:
from log import LinearRegression

In [15]:
model = LinearRegression(learning_rate = 0.1, no_of_iterations = 10000)

In [16]:
model.fit(X_train, Y_train)

In [17]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(Y_test,X_test_prediction)

In [18]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.8317307692307693

In [19]:
import pickle

In [20]:
pickle.dump(model, open('mainmodel.pkl', 'wb'))

In [21]:
rslt = pickle.load(open('mainmodel.pkl', 'rb'))

In [22]:
print(rslt)

<log.LinearRegression object at 0x000001E4CA3E09A0>

In [23]:
rain = np.array([[5100, 116.8]])

In [24]:
result = rslt.predict(rain)
print(result)

[0]

In [25]:
import os
os.getcwd()

'c:\\Users\\Dell\\Desktop\\main\\yo'

In [26]:
from joblib import dump

dump(model, './model.joblib')

['./model.joblib']